@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-noto;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  word-break: keep-all;
}

.flexCenterColumn {
  @apply flex justify-center items-center flex-col;
}

.defaultBorder {
  @apply border-solid border border-black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
