$gray_60: #000;
$gray_50: #515151;
$gray_40: #818181;
$gray_30: #cfcfcf;
$gray_20: #f9f9f9;
$gray_10: #fff;

$pink_50: rgba(249, 159, 169, 0.8);
$pink_40: rgba(249, 159, 169, 0.6);
$pink_30: rgba(249, 159, 169, 0.3);
$pink_20: rgba(249, 159, 169, 0.1);
$pink_10: rgba(249, 159, 169, 0.05);

$red: invert(34%) sepia(26%) saturate(6299%) hue-rotate(343deg) brightness(77%)
  contrast(84%);
$yellow: #fee500;
$blue: invert(45%) sepia(87%) saturate(5314%) hue-rotate(205deg)
  brightness(101%) contrast(90%);

$shadow_3: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
$shadow_2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow_1: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
