@import '/src/styles/typo.scss';
@import '/src/styles/colors.scss';
@import '/src/styles/animation.scss';

.qnaBox {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  width: 62rem;
  background-color: $gray_10;
  border-radius: 1.6rem;
  box-shadow: $shadow_2;
}

.statusBox {
  display: flex;
  justify-content: space-between;
}

.status {
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  width: fit-content;
  line-height: 1.6;
}

.complete {
  color: $pink_40;
  border: 1px solid $pink_40;
}

.notYet {
  color: $gray_40;
  border: 1px solid $gray_40;
}

.menuBox {
  position: relative;
}

.menuListBox {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0.4rem 0;
  border: 1px solid $gray_30;
  border-radius: 0.8rem;
  transform: translateY(20%);
}

.open {
  animation: fadeInDown 0.5s ease;
}

.list {
  @include textStyle(caption);
  padding: 0.6rem 1.6rem;
  width: max-content;
  cursor: default;

  &:hover {
    background-color: $gray_20;
  }
}

.date {
  @include textStyle(caption, $gray_40);
}

.title {
  @include textStyle(body2);
  margin-top: 0.4rem;
  margin-right: 0.8rem;
}

.answerBox {
  display: flex;
  gap: 1.2rem;
}

.contentBox {
  flex: 8;
}

.answer {
  @include textStyle(description);
  margin-top: 0.4rem;
  line-height: 2.2rem;
}

.line {
  border: 1px solid $gray_30;
}

.reactionBox {
  display: flex;
  gap: 3.2rem;
}

.reactionBtn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: inherit;
  border: none;
}

.like {
  filter: $blue;
}

.dislike {
  filter: $red;
}

.areaWrap {
  flex: 8;
}

@media screen and (max-width: 768px) {
  .qnaBox {
    width: 100%;
  }
}
