@import '/src/styles/colors.scss';

.textarea {
  display: block;
  margin: 1.5rem 0 0.8rem;
  padding: 1.6rem;
  width: 100%;
  height: 18rem;
  border: none;
  border-radius: 0.8rem;
  background-color: $gray_20;
  resize: none;

  &:focus {
    outline: 1px solid $pink_40;
  }
}
