@import '../../styles/mixin.scss';
@import '../../styles/colors.scss';

.container {
  @include flexSetting;
  position: relative;
  height: 100vh;
  gap: 2.4rem;
}

.btnPosition {
  position: absolute;
  top: 4rem;
  right: 0;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
  border-radius: 1.6rem;
  background-color: $gray_10;
  box-shadow: $shadow_1;
}

@media screen and (max-width: 768px) {
  .btnPosition {
    right: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .btnPosition {
    position: static;
  }
}
