@import '/src/styles/mixin.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: none;
  z-index: 3;
}

.nav {
  @include flexSetting(space-between);
  margin: 0 auto;
  padding: 2rem 20rem;
  max-width: 192rem;
}

.loginBtn {
  padding: 1.6rem 2rem;
  width: 12.8rem;
  border: none;
  border-radius: 8px;
  background: var(--gra-btn-bg);
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.profileBox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.userImg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
}

.userEmail {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem 3.2rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .nav {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 3.2rem;
  }

  .loginBtn {
    width: 8rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }
}
