$gray_60: #000;
$gray_50: #515151;
$gray_40: #818181;
$gray_30: #cfcfcf;
$gray_20: #f9f9f9;
$gray_10: #fff;

$brown_50: #341909;
$brown_40: #542f1a;
$brown_30: #c7bbb5;
$brown_20: #e4d5c9;
$brown_10: #f5f1ee;

$red: #b93333;
$yellow: #fee500;
$blue: #1877f2;

$shaow_3: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
$shaow_2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shaow_1: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
