@import '../../styles/colors.scss';
@import '../../styles/typo.scss';

.button {
  @include textStyle(description);
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.thick {
  border: 1px solid $pink_40;
  background-color: $pink_40;
  color: $gray_10;

  &:hover {
    background-color: $pink_50;
  }
}

.soft {
  border: 1px solid $pink_40;
  background-color: $pink_20;
  color: $gray_60;

  &:hover {
    background-color: $pink_30;
  }
}

.floating {
  border-radius: 20rem;
}

.content {
  width: 100%;
}

.none {
  border: none;
}

.active {
  background-color: $gray_30;
  cursor: not-allowed;

  &:hover {
    background-color: $gray_30;
  }
}

@media screen and (max-width: 375px) {
  .button {
    padding: 0.8rem 1.2rem;
  }
}
