@import '../../styles/animation.scss';

.logo {
  cursor: pointer;
  animation: 1s upAndDown infinite ease-in-out;
}

.large {
  width: 25rem;
}

.medium {
  width: 20rem;
}

.small {
  width: 15rem;
  height: fit-content;
}
